.article-component {
    margin-bottom: 10rpx;
    box-sizing: border-box;
    width: 100%;
    border-top: none;
    border-right: 2rpx solid rgb(204, 204, 204);
    border-bottom: 2rpx solid rgb(204, 204, 204);
    border-left: 2rpx solid rgb(204, 204, 204);
    border-image: initial;
    background-color: rgb(255, 255, 255);
    border-radius: 8rpx;
    .title {
        box-sizing: border-box;
        text-align: center;
        font-size: 26rpx;
        font-weight: 600;
        padding: 12rpx 0px 4rpx;
        margin-bottom: 12rpx;
        border-top: 2rpx solid rgb(204, 204, 204);
        background: rgb(248, 248, 248);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    image {
        width: 100%;
        height: 100%;
    }
    .content {
        padding: 20rpx;
        color: rgb(85, 85, 85) !important;
        font-size: 24rpx;
        word-break: break-all;
        letter-spacing: 3rpx;
        line-height: 1.5em;
    }
}